<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>weights and masses</key>
	<dict>
		<key>metric tonnes</key>
		<string>0.001</string>
		<key>short tons</key>
		<string>0.00110231131</string>
		<key>long tons</key>
		<string>0.000984206528</string>
		<key>pounds (us)</key>
		<string>2.204622622</string>
		<key>kilograms</key>
		<string>1.0</string>
		<key>ounces</key>
		<string>35.2739619</string>
		<key>grams</key>
		<string>1000</string>
		<key>drams</key>
		<string>564.383391</string>
		<key>slugs</key>
		<string>0.068521765562</string>
	</dict>
	<key>length</key>
	<dict>
		<key>kilometers</key>
		<string>0.001000</string>
		<key>meters</key>
		<string>1.0</string>
		<key>centimeters</key>
		<string>100</string>
		<key>millimeters</key>
		<string>1000</string>
		<key>miles</key>
		<string>0.000621371192</string>
		<key>nautical miles</key>
		<string>0.000539956803</string>
		<key>yards</key>
		<string>1.093613298</string>
		<key>feet</key>
		<string>3.280839895</string>
		<key>inches</key>
		<string>39.3700787402</string>
	</dict>
	<key>area</key>
	<dict>
		<key>square miles</key>
		<string>0.000000386102159</string>
		<key>square yards</key>
		<string>1.195990048</string>
		<key>square feet</key>
		<string>10.7639104</string>
		<key>square inches</key>
		<string>1550.0031</string>
		<key>square kilometers</key>
		<string>0.000001</string>
		<key>square meters</key>
		<string>1.0</string>
		<key>square centimeters</key>
		<string>10000.0</string>
		<key>square millimeters</key>
		<string>1000000.0</string>
		<key>acres</key>
		<string>0.000247105381</string>
		<key>ares</key>
		<string>0.01</string>
		<key>decares</key>
		<string>0.001</string>
		<key>hectares</key>
		<string>0.0001</string>
	</dict>
	<key>volume</key>
	<dict>
		<key>cubic feet</key>
		<string>0.0353146667</string>
		<key>cubic meters</key>
		<string>0.001</string>
		<key>liters</key>
		<string>1.0</string>
		<key>gallons (us)</key>
		<string>0.264172052</string>
		<key>fluid drams (us)</key>
		<string>270.5122691</string>
		<key>fluid ounces (us)</key>
		<string>33.8140227</string>
		<key>pints (us)</key>
		<string>2.11337642</string>
		<key>quarts (us)</key>
		<string>1.056688149</string>
	</dict>
	<key>speed</key>
	<dict>
		<key>miles/hour</key>
		<string>2.23693629</string>
		<key>miles/minute</key>
		<string>0.0372822715</string>
		<key>feet/minute</key>
		<string>196.850394</string>
		<key>feet/second</key>
		<string>3.2808399</string>
		<key>kilometers/hour</key>
		<string>3.6</string>
		<key>kilometers/minute</key>
		<string>0.06</string>
		<key>knots</key>
		<string>1.94384449</string>
		<key>meters/second</key>
		<string>1.00</string>
	</dict>
	<key>power</key>
	<dict>
		<key>btus/minute</key>
		<string>56.8690286</string>
		<key>foot-pounds/second</key>
		<string>737.562149</string>
		<key>foot-pounds/minute</key>
		<string>44253.73</string>
		<key>horsepower</key>
		<string>1.341022089599</string>
		<key>kilowatts</key>
		<string>1.0</string>
		<key>watts</key>
		<string>1000.0</string>
	</dict>
	<key>pressure</key>
	<dict>
		<key>atmospheres</key>
		<string>0.00000986923267</string>
		<key>bars</key>
		<string>0.00001</string>
		<key>inches of mercury</key>
		<string>0.000295333727</string>
		<key>millimeters of mercury (torr)</key>
		<string>0.0075006</string>
		<key>pascals</key>
		<string>1.0</string>
		<key>pounds/square foot</key>
		<string>0.020885434273</string>
		<key>pounds/square inch</key>
		<string>0.000145037738</string>
	</dict>
	<key>energy or work</key>
	<dict>
		<key>btus</key>
		<string>0.00094781712</string>
		<key>calories</key>
		<string>0.238845897</string>
		<key>ergs</key>
		<string>10000000.0</string>
		<key>foot-pounds</key>
		<string>0.737562149</string>
		<key>joules</key>
		<string>1.0</string>
		<key>kilowatt-hours</key>
		<string>0.000000277777778</string>
		<key>kilogram-calories</key>
		<string>0.000238845897</string>
		<key>kilogram-meters</key>
		<string>0.101971621</string>
		<key>newton-meters</key>
		<string>1.0</string>
	</dict>
	<key>time</key>
	<dict>
		<key>seconds</key>
		<string>1.0</string>
		<key>minutes</key>
		<string>0.016666666666667</string>
		<key>hours</key>
		<string>0.000277777777778</string>
		<key>days</key>
		<string>0.0000115740741</string>
		<key>weeks</key>
		<string>0.0000016534392</string>
		<key>years</key>
		<string>0.0000000317098</string>
	</dict>
	<key>temperature</key>
	<dict>
		<key>celsius</key>
		<array>
			<string>*</string>
			<string>1.0</string>
		</array>
		<key>kelvin</key>
		<array>
			<string>+</string>
			<string>273.15</string>
		</array>
		<key>fahrenheit</key>
		<array>
			<string>*</string>
			<string>1.8</string>
			<string>+</string>
			<string>32</string>
		</array>
	</dict>
</dict>
</plist>
